
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
/* Select all element */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/*header , main , footer */
header , main, footer {
    min-width: 100vw;
}
/* header */
header {
    display: inline-flex;
    justify-content: space-between;
}
    
html {
    font-family: Montserrat;

}

.logo {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 1em;
}
#about p{
    width: 50em;
    height: auto;
    text-align: center;
    
}

nav ul li{
    padding: 0 10px 0 10px;
    
}
/*Place the menu to the right of the page*/
.menu{
    /* margin: auto 0; */
    align-items: flex-end;
    margin: 5px 10px 0; 

}
.menu-list {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    
    
}
.menu-list li {
    padding-right: 0 5px;
    
}
.menu-list :hover{
    color: black;
    font-size: 21px;
    text-decoration: none;
}
/*home*/
#home {
    background-color: rgba (106, 115, 92, .7);
}
.wrapper {
    min-height: 100vh;
    align-content: center;

}
.wrapper img{
    display: block;
    margin: 15px auto;
}
.wrapper p{
    text-align: center;
}


#about h2, h4, p{
    text-align: center;
    margin: auto;
     
}

#resume h2{
    text-align: center;
}
#resume1 ul li {
    width: 50%;
    margin: auto;
    padding: 30px;
    border: 2px solid black;
    list-style: none;

    
}
.img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 20%;
    height: auto;
    


}

#project h2{
    text-align: center;
    
}

#contact h2 {
    text-align: center;
    
}
#contact ul,li{
    text-align: center;
    
}
.contact, img, img,img{
    width: 3em;
    display: inline-flex;

}

footer{
    text-align: center;
}

body{
    background-color:lightslategrey;
}
.name:hover{
    color: black;
}
.grouplink:hover{
    color: black;
}

